body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 60px;

  @media screen and (max-width: 800px) {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.directory-menu .content h1.title {
  font-weight: 900;
  color: #1a1a1a;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.directory-menu div:first-child .content h1.title {
  font-weight: 900;
  color: red;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.directory-menu div:nth-of-type(3) .content h1.title {
  font-weight: 900;
  color: black;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.directory-menu div.large:nth-of-type(5) .content h1.title {
  font-weight: 900;
  color: black;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}